body{
  background-color: #eee;
  cursor: default;
}

.container-adic {
  /* Content is centered horizontally */
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  background-color: #fff;
  height: 500px;
}

.card-adic {
  /* Content is centered vertically */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Make all columns have the same width */
  flex: 1;

  /* OPTIONAL: Space between columns */
  margin: 0 8px;

  /* OPTIONAL: Border */
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  max-width: 400px;
  padding: 10px 15px;
  text-align: center;
}

.card-adic-end {
  /* Content is centered vertically */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Make all columns have the same width */
  flex: 1;

  /* OPTIONAL: Space between columns */
  margin: 0 8px;

  /* OPTIONAL: Border */
  border-radius: 4px;
  max-width: 400px;
  padding: 10px 15px;
  text-align: center;
}

.card-adic-end i{
    color: #3498DB;
    font-size: 80px;
}

.card-adic i{
    color: #3498DB;
    font-size: 80px;
}

.modal-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  margin-left: 150px;
  margin-right: 150px;
  position: relative;
  top: 150px;
}

.form-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.form-modal h3, h6, h5{
  margin-bottom: 15px;
}

.form-modal button{
  margin-top: 35px;
}

.row-modal{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-modal{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border-radius: 10px;
  margin-left: 10px;
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.1);
  max-width: 250px;
}

.card-modal h6{
  margin-top: 15px;
}

.card-modal p{
  font-size: 13px;
  font-weight: 400;
  color: #707070;
}

.circle-item{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #3498DB;
  border-radius: 50%;
  padding: 5px 10px;
}

.circle-item i{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #fff;
  position: relative;
}

@media screen and (max-width: 500px){
  .container-adic{
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 555px;
  }
}


@media screen and (max-width: 320px){
  .container-adic{
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 412px;
  }
}

