.item-img {
  display: block;
  width: 100%;
  height: auto;
}

body{
  background-color: #eee;
}

@media screen and (max-width: 500px){
  .carousell{
    position: relative;
    width: 555px;
  }
}

@media screen and (max-width: 320px){
  .carousell{
    position: relative;
    width: 412px;
  }
}