.container--footer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.center-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.center-news {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  position: relative;
  left: -200px;
}

.center-news button {
  position: relative;
  top: -55px;
  left: 220px;
  width: 100px;
  height: 55px;
}

.links-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 200px;
}

.link-follow {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  position: relative;
  top: -35px;
}

.link-follow a {
  color: #3498db;
  text-decoration: none;
}

.link {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.link a {
  color: #3498db;
  text-decoration: none;
}

@media screen and (max-width: 500px){
  .container--footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 490px;
  }
  .center-footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -150px;
  }
  .links-footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .link-follow{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 150px;
  }
  .link{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 150px;
    max-width: 490px;
  }
}

@media screen and (max-width: 320px){
  .container--footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 320px;
  }
  .center-footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -200px;
  }
  .links-footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .link-follow{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 130px;
  }
  .link{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 130px;
  }
}

@media screen and (max-width: 400px){
  .container--footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 320px;
  }
  .center-footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -250px;
  }
  .links-footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .link-follow{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 100px;
  }
  .link{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 100px;
  }
}