@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
body {
  font-family: "Roboto", sans-serif;
  background-color: #eee;
}

.auth-form {
  position: relative;
}

/* ... */
.loader {
  margin: 300px auto;
}

/* ... */

.dropdown-user {
  flex-direction: row;
  max-height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  list-style-type: none;
  margin: 0;
  padding: 0;
  left: 90px;
  cursor: pointer;
}

.dropdown-user i {
  position: absolute;
  top: 18px;
  left: 50px;
  font-size: 25px;
}

.dropdown-user h5 {
  font-size: 18px;
  top: 10px;
  position: relative;
}

.dropdown-user li {
  padding: 8px;

  position: relative;
}

.dropdown-user ul {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #181818;
  color: #fff;
  display: none;
  border-radius: 5px;
  left: 0;
  position: absolute;
  top: 100%;

  list-style-type: none;
  margin: 0;
  padding: 0;

  padding: 10px 15px;
  width: 100px;
}

.dropdown-user ul ul {
  padding: 10px 15px;
  left: 100%;
  position: absolute;
  top: 0;
}

.dropdown-user li:hover {
  color: #505050;
}

.dropdown-user li:hover > ul {
  display: block;
}

.user-actions {
  position: relative;
  display: flex;
  flex-direction: row;
  left: 110px;
}

.tab-login {
  position: relative;
  top: 120px;
}

.link-user {
  text-decoration: none;
  color: #fff;
}

.link-user:hover {
  text-decoration: none;
  color: #505050;
}

.imagen-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.modal-paypal {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-left: 350px;
}

.form-paypal {
  background-color: #121212;
  width: 700px;
  padding: 20px 35px;
  color: white;
}

.container-carro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link-carro {
  display: flex;
  flex-direction: row;
  border: none;
  background-color: #fff;
  left: 130px;
  font-size: 40px;
  top: 5px;
  position: relative;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 500px){
  .dropdown-user{
    position: relative;
    left: 100px;
  }
  .dropdown-user i{
    left: 120px;
    position: absolute;
  }
}

@media screen and (max-width: 320px){
  .dropdown-user{
    position: relative;
    left: 50px;
  }
  .dropdown-user i{
    left: 110px;
    position: absolute;
  }
  .carrito{
    position: relative;
    left: -60px;
  }
}

@media screen and (max-width: 400px){
  .dropdown-user{
    position: relative;
    left: 50px;
  }
  .dropdown-user i{
    left: 110px;
    position: absolute;
  }
  .carrito{
    position: relative;
    left: -40px;
  }
}