@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
body {
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
}

.auth-form {
  position: relative;
}

/* ... */
.loader {
  margin: 300px auto;
}

/* ... */
.user-details {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  left: 110px;
  max-height: 50px;
  top: 10px;
}

.user-details img{
  position: relative;
  margin-left: 10px;
  top: -5px;
}
.user-actions {
  position: relative;
  display: flex;
  flex-direction: row;
  left: 150px;
}

.tab-login{
  position: relative;
  top: 120px;
}



